<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Genres</title>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/authors.css"> 
</head>
<body>
        <header class="header">
                <h1>Blog</h1>
                <nav>
                    <a href="/"><img src="/images/logo.png" class="logo" alt="logo"></a>
                </nav>
        </header>    
        <div class="main-content">
            <ul class="main-content_list">
                <li th:each="author : ${authors}"><a th:href="@{|/authors/${author.id}|}" th:text="${author.authorName}">Author</a></li>
            </ul>
        </div>
        <div class="form">
            <form action="/authors" method="POST">
                Submit an Author
                <ul>
                    <li>
                        <input type="text" name="authorName" placeholder="Author Name">
                    </li>
                    <li>
                        <button type="submit">Submit</button>
                    </li>
                </ul>
                
            </form>
        </div>
       
</body>
<footer class="footer">
        <p>&copyBA Blogs 2019</p>
</footer>
</html>