<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Genre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body>
    <header class="header">
        <h1>Blog</h1>
            <nav>
                <ul>
                    <a href="/"><li>Home</li></a>
                </ul>
            </nav>
    </header>
    <div class="main-content">
        <h1 th:text="${genre.genreName}"></h1>
        <h2>Posts</h2>
        <ul th:each="post : ${genre.posts}">
            <li th:text="${post.title}"></li>
            <div th:each="author : ${post.authors}">
                <li th:text="${author.authorName}"></li>
            </div>
            <li th:text="${post.time}"></li>
            <div th:each="tag : ${post.tags}">
                <li th:text="${tag.tagName}"></li>
            </div>
            <li th:text="${post.body}"></li>
        </ul>
    </div>
</body>
</html>