<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Genres</title>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/home.css"> 
</head>
<body>
    <header class="header">
        <h1>Blog</h1>
        <nav>
            <a href="/"><img src="/images/logo.png" class="logo" alt="logo"></a>
        </nav>
    </header>    
    <div class="main-content">
        <ul class="main-content_list">
            <li><a href="/authors">Search by Post Authors</a></li>
            <li><a href="/genres">Search by Genres</a></li>
            <li><a href="/tags">Search by Tags</a></li>
            <li><a href="/posts">Search All Posts</a></li>
        </ul>
    </div>
    <div class="posts">
        <article class="posts-blogpost" th:each="post : ${posts}">
            <ul>
                <li th:text="${post.title}"></li>
                <div th:each="author : ${post.authors}">
                    <li th:text="${author.authorName}"></li>
                </div>
                <li th:text="${post.time}"></li>
                <div th:each="tag : ${post.tags}">
                    <li th:text="${tag.tagName}"></li>
                </div>
                <li th:text="${post.body}"></li>
            </ul>
        </article>
    </div>
</body>
<footer class="footer">
        <p>&copyBA Blogs 2019</p>
</footer>
</html>