<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Genres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body>
        <header class="header">
                <h1>Blog</h1>
                <nav>
                    <ul>
                        <a href="/"><li>Home</li></a>
                    </ul>
                    <p>All Posts</p>
                </nav>
            </header>    
            <div class="main-content">
                    <ul th:each="post : ${posts}">
                        <li ><a th:href="@{|/posts/${post.id}|}" th:text="${post.title}">Author</a></li>
                        <!-- this is how we print the time <li th:text="${post.time}"></li> -->
                    </ul>
                </div>
                <div class="form">
                    <form action="/posts" method="POST">
                        <ul>
                            <li>
                                Title: <input type="text" name="title">
                            </li>
                            <li>
                                Body: <input type="text" name="body">
                            </li>
                            <li>
                                Author:
                                <select type="text" name="authorName">
                                    <option th:each="author : ${authors}" th:value="${author.authorName}" th:text="${author.authorName}"></option>
                                </select>
                            </li>
                            <li>
                                Genre:
                                <select type="text" name="genreName">
                                    <option th:each="genre : ${genres}" th:value="${genre.genreName}" th:text="${genre.genreName}"></option>
                                </select>
                            </li>
                            <li>
                                Tags:
                                <select type="text" name="tagName">
                                    <option th:each="tag : ${tags}" th:value="${tag.tagName}" th:text="${tag.tagName}"></option>
                                </select>
                            </li>
                            <li>
                                <button type="submit">Submit</button>
                            </li>
                        </ul>
                    </form>
                </div>
                <footer>
                    <p>&copyBA Blogs 2019</p>
                </footer>
</body>
</html>