<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Genres</title>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/tag.css"> 
</head>
<body>
    <header class="header">
        <h1>Blog</h1>
            <nav>
                    <a href="/"><img src="/images/logo.png" class="logo" alt="logo"></a>
                <p th:text="${tag.tagName}"></p>
            </nav>
    </header>
    <div class="main-content">
        <h1 th:text="${tag.tagName}"></h1>
        <h2>Posts</h2>
        <ul th:each="post : ${tag.posts}">
            <li th:text="${post.title}"></li>
            <div th:each="author : ${post.authors}">
                <li th:text="${author.authorName}"></li>
            </div>
            <li th:text="${post.genre.genreName}"></li>
            <li th:text="${post.time}"></li>
            <li th:text="${post.body}"></li>
        </ul>
    </div>
</body>
<footer class="footer">
        <p>&copyBA Blogs 2019</p>
</footer>
</html>